.container {
  max-width: 1248px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

main{
  background-color: #f7f7f7;
}

section{
  padding: 22px 0;
}

@media (max-width: 590px) {
  .section{
    padding: 12px 0;
  }
}